

<table class="table">
            <thead>
                    <tr><th>ハンドルネーム</th><th>フォロー数：</th><th>フォロワー数：</th></tr>
            </thead>

            <tbody>
            <% users.each do |user| %>
            <tr>
                <td>
                    <%= link_to users_user_path(user.id) do %>
                            <%= attachment_image_tag user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", size: "50x50" %><br>
                            <%= user.nickname %>
                    <% end %>
                </td>
                <td><%= user.followed.count %></td>
                <td><%= user.follower.count %></td>
            </tr>
            <%# <%= paginate boards %>
            <% end %>
</table>