 <div class="col-md-8">
            <table class='table'>
                <tr>
                    <% if Rails.env == 'development' %>
                        <%= attachment_image_tag user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", size: "50x50", class: "rounded-circle" %>
                    <% else %>
                        <%= image_tag image_url, :size =>'80x80', class: "rounded-circle"  %>
                    <% end %>
                </tr>
                <tr>
                    <i>ハンドルネーム：</i><%= user.nickname %>
                </tr>
                <tr>
                    <p class="mt-3 ml-3">/自己紹介/</p>
                    <p class="ml-3"><%= user.introduction %></p>
                </tr>
                <tr>
                    <th>follows</th>
                    <th><%= link_to user.follower.count, users_user_follows_path(user) %></th>
                </tr>
                <tr>
                    <th>followers</th>
                    <th><%= link_to user.followed.count, users_user_followers_path(user) %></th>
                </tr>
                <tr>
                    <th>bookmarks</th>
                    <th><%= link_to user.bookmarks.count, users_user_bookmarks_path(user) %></th>
                </tr>
            </table>
        </div>
        <!-- フォローボタン -->
            <% if current_user != user %>
                <div id="follew_btn_<%= user.id %>">
                    <%= render 'follow', user: user %>
                </div>
            <% end %>
</div>
    <% if @user == current_user %>
        <div class='row'>
            <div class="col-md-3">
                <%= link_to '編集',edit_users_user_path(@user),class: "btn btn-success" %>
            </div>    
        </div>
    <% end %>
<div class="fix"></div>