<div class="container">
    <div class="rwo">
        <div class="col-md-7 col-md-offset-1">
            <h3>ユーザーページ</h3>
        </div>
    </div>
    <div class="rwo">
        <%= render 'info', user: @user %>
    </div>
        <div class="row">
            <% if current_user.id == @user.id %>
            <div class="col-md-4 col-md-offset-1">
                <h4>おすすめユーザー</h4>
                <table class='table'>
                    <% @recommended.each do |user| %>
                        <tr>
                            <td>
                                <%= link_to users_user_path(user.id) do %>
                                    <%= attachment_image_tag user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", size: "50x50" %>
                                    <%= user.nickname %>
                                <% end %>
                            </td>
                        </tr>
                    <% end %>
                </table>
            </div>
        <% end %>
        <div class="col-md-5 offset-md-2">
        <p>ユーザー直近コメント→→スレッド</p>
            <table class="table table-borderless">
                <tr>
                    <td>
                        <% @order_boards.each do |board| %>
                            <%= link_to board.title, users_board_path(board.id) %>
                        <% end %>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
