<div class="container">
    <div class="rwo">
        <div class="col-md-7 col-md-offset-1">
            <h3>ユーザーページ</h3>
            <p class="text-primary">
                <%= flash[:notice] %>
            </p>
        </div>
    </div>
    <div class="rwo">
        <%= render 'info', user: @user, image_url: @image_url %>
    </div>
        <div class="row">
            <% if current_user.id == @user.id %>
                <div class="col-md-4 col-md-offset-1">
                    <h4>おすすめユーザー</h4>
                    <table class='table table-borderless'>
                        <tr>
                            <td>
                                <% if @recommended.empty? %>
                                    <p>同じタグにレスしているユーザーがおりません。。。<br>
                                      もう少しHobbyをお楽しみください。
                                    </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <% else %>
                                    <% @recommended.each do |user| %>
                                                <%= link_to users_user_path(user.id) do %>
                                                    <% if Rails.env == 'development' %>
                                                        <%= attachment_image_tag user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", size: "50x50", class: "rounded-circle" %>
                                                    <% else %>
                                                        <%= image_tag @image_url, :size =>'80x80', class: "rounded-circle"  %>
                                                    <% end %>
                                                    <%= user.nickname %>
                                                <% end %>
                                    <% end %>
                                <% end %>
                            </td>
                        </tr>
                    </table>
                </div>
            <% end %>
        <div class="col-md-5 offset-md-2">
        <p>ユーザー直近コメント→→スレッド</p>
            <table class="table table-borderless">
                <tr>
                    <td>
                        <% @order_boards.each do |board| %>
                            <ul>
                                <li>
                                    <%= link_to board.title, users_board_path(board.id) %>
                                </li>
                            </ul>
                        <% end %>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
