<div class="row">

<%= form_with model:@contact, url: users_contacts_create_path, local: :true do |f| %>

  <div class="form-group">
    <%= f.label :email, '返信先メールアドレス' %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>

 <div class="form-group">
   <%= f.label :message, 'お問い合わせ内容' %>
   <%= f.text_area :message, size: '10x30', class: 'form-control' %>
 </div>

  <%= f.submit '送信' %>

<% end %>
</div>