<div class="row">
  <div class="col-md-6 offset-4">
    <h2>お問合せ内容入力画面</h2>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-5 offset-3">
    <%= form_with model:@contact, url: users_contacts_create_path, local: :true do |f| %>
    <%= render '/layouts/errors', obj: @contact %>
    <div class="form-group">
      <%= f.label :email, '返信先メールアドレス' %>
      <%= f.text_field :email, class: 'form-control' %>
    </div>
    <div class="fieldmt-4">
      <%= f.label :"問合せ種別を選択してください" %>
      <%= f.select :category, [["スレッド・レスについて", 0 ],["Hobby/等アプリについて", 1 ],["その他", 2 ]], class: 'form-control' %>
    </div>
    <div class="field mt-2">
      <%= f.label :"返信が必要な場合はチェックを入れてください" %>
      <%= f.check_box :reply %>
    </div>
    <div class="form-group pt-5">
      <%= f.label :message, 'お問い合わせ内容' %>
      <%= f.text_area :message, size: '10x5', class: 'form-control' %>
    </div>
    
      <%# モーダル用 %>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" id="modal_confirm">
        送信確認
      </button>
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div id="modal_content" class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
              <%= f.submit '送信', class: "btn btn-primary" %>
              <%# <button type="button" class="btn btn-primary">Save changes</button> %>
            </div>
          </div>
        </div>
      </div>
  <% end %>
  </div>
</div>