<div class="row">
  <div class="col-md-6 offset-4">
    <h2>お問合せ内容入力画面</h2>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-5 offset-3">
    <%= form_with model:@contact, url: users_contacts_create_path, local: :true do |f| %>
    <%= render '/layouts/errors', obj: @contact %>
    <div class="form-group">
      <%= f.label :email, '返信先メールアドレス' %>
      <%= f.text_field :email, class: 'form-control' %>
    </div>
    <div class="fieldmt-4">
      <%= f.label :"問合せ種別を選択してください" %>
      <%= f.select :category, [["スレッド・レスについて", "0"],["Hobby/等アプリについて","1"],["その他","2"]], class: 'form-control' %>
    </div>
    <div class="field mt-2">
      <%= f.label :"返信が必要な場合はチェックを入れてください" %>
      <%= f.check_box :reply %>
    </div>
    <div class="form-group pt-5">
      <%= f.label :message, 'お問い合わせ内容' %>
      <%= f.text_area :message, size: '10x5', class: 'form-control' %>
    </div>
    <%= f.submit '送信', class: "btn btn-primary" %>
  <% end %>
  </div>
</div>