<table class="table">
            <thead class="thead-dark">
                    <tr><th>スレタイ</th><th>タグ</th><th>about</th><th align="right">ブックマーク数</th></tr>
            </thead>
            <% tags.each do |tag| %>
                <% tag.boards.each do |board| %>
                    <tr>
                        <td>
                            <%=  board.title, users_board_path(board.id) %>
                        </td>
                        <td>
                            <% board.tags.each do |tag| %>
                                    <%= tag.name %>
                                <% end %>
                        </td>
                        <td>
                            <%= board.introduction %>
                        </td>
                        <td align="center">
                            <% if user_signed_in? %>
                                <% if board.bookmark_by?(current_user) %>
                                    <%= link_to users_board_bookmarks_path(board.id), method: :delete, remote: true do %>
                                        <span class="fas fa-bookmark"><%= board.bookmarks.count %></span>
                                    <% end %>
                                <% else %>
                                    <%= link_to users_board_bookmarks_path(board.id), method: :post, remote: true do %>
                                        <span class="far fa-bookmark-empty"><%= board.bookmarks.count %></span>
                                    <% end %>
                                <% end %>
                            <% else %>
                                <span class="fas fa-bookmark"><%= board.bookmarks.count %></span>
                            <% end %>
                        </td>
                    </tr>
                <% end %>
            <% end %>
            <%# <%= paginate boards %>

</table>