<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top p-4 " style="background: linear-gradient(-135deg, #5D6874 ,#E3E3E3); box-shadow: 0px 4px 4px rgba(0,0,0,0.2); opacity: 0.9;">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <% if user_signed_in? %>
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        </li>
            <li class="nav-item dropdown ml-4">
              <a class="nav-link dropdown-toggle h4" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                MENU
              </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <ul>
                    <li class="nav-item">
                    <li>
                      <%= link_to " マイページ", users_user_path(current_user.id), :style=>"color:#222222;"  %>
                    </li>
                      <%= link_to "スレッド一覧", users_boards_path, :style=>"color:#111111;"  %>
                    </li>
                    <li>
                      <%= link_to "スレッド作成", new_users_board_path, :style=>"color:#222222;"  %>
                    </li>
                    <li>
                      <%= link_to "ログアウトする", destroy_user_session_path, method: :delete, :style=>"color:red;"  %>
                    </li>
                    </li>
                  </ul>
                </div>
            </li>
        </ul>
         <ul class="mx-auto">
          <li>
            <%= link_to image_tag("logo.png",:width => "200",:height => "60"), root_path %>
          </li>
        </ul>
      
      <% elsif admin_signed_in? %>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <% link_to admin_root_path %>
          </li>
              <li class="nav-item">
                <%= link_to "新規登録", user_user(current_user.id), class: "text-warning" %>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
              
        </ul>
      <% else %>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
          </li>
              <li class="nav-item dropdown ml-5">
                <a class="nav-link dropdown-toggle h4" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  MENU
                </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <ul>
                    <li>
                      <%= link_to "新規会員登録", new_user_registration_path, :style=>"color:#222222;" %>
                    </li>
                    <li class="nav-item">
                      <%= link_to "ログイン", new_user_session_path, :style=>"color:#222222;" %>
                    </li>
                    <li class="nav-item">
                      <%= link_to "スレッド一覧", users_boards_path, :style=>"color:#111111;" %>
                    </li>
                  </ul>
                  </div>
              </li>
        </ul>
        <ul class="mx-auto">
          <li>
            <%= link_to image_tag("logo.png",:width => "200",:height => "60"), root_path %>
          </li>
        </ul>
      <% end %>
      <%= form_with url: users_search_path, method: :get, local: true, class: "form-inline my-2 my-lg-0 justify-content-center" do %>
        <div class="form-inline">
          <%= text_field_tag 'search[content]', '', class: 'form-control mr-3' %>
          <%= select_tag 'search[model]', options_for_select({ "User" => "user", "スレッド" => "board", "tag" => "tag" }), class: "custom-select" %>
          <%= select_tag 'search[method]', options_for_select({ "完全一致" => "perfect", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partial" }), class: "custom-select" %>
          <%= submit_tag '検索', class: "btn btn-default" %>
        </div>
      <% end %>
  </div>
</nav>