<!DOCTYPE html>
<html>
  <head>
    <title>Hobby</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>  <%# 本番環境でjsを動かすのに必要 %>

  </head>
  <body>
    <%= render 'layouts/header' %>
      <div class='container groundimage'>
        <%= yield %>
      </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
